.card::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #007C84;
}

/* card offline */
.card-off::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #39A5ED;
}

/* index produk */
.sty-card {
    background-color: #f2f8f8;
    color: #007C84;
    border-radius: 12px
}

.sty-btn-edit {
    background-color: #e1edef;
    border-radius: 8px;
    box-shadow: 4px 4px 2px rgba(0, 118, 135, 0.1);
}

.hd {
    background-color: #f2f8f8;
    border-radius: 12px 12px 0px 0px !important;
}

/* card melihat pesanan */
.card-melihat::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3.2rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #007C84;
}

.card-off::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 17px;
    height: 3.2rem;
    border-radius: 12px 0px 12px 0px;
    background-color: #39A5ED;
}

/* ulasan */
.ulasan {
    overflow: hidden;
}

.ulasan .row {
    overflow: hidden;
}

.ulasan::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 2%;
    width: 12px;
    height: 3.5rem;
    background-color: #007C84;
    border-radius: 0px 10px 10px 0px;
}

/** rating **/
div.stars {
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: url('https://api.iconify.design/ant-design/star-filled.svg?color=%23007c84&height=2rem');
    transition: all .05s;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: url('https://api.iconify.design/ant-design/star-outlined.svg?color=%23007c84&height=2rem');

}

.horline>li:not(:last-child):after {
    content: " |";
}

/** end rating **/